
.logo {
	display: flex;

}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 3em;
	box-sizing: border-box;
}

@media (max-width: 767.98px) {
	.logo {
	  max-width: 100%;
	}
  }